<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Todos Países
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div lines="none" *ngFor="let infoData of info?.all_Data; let i=index">
    
    <ion-card class="card_1">
      <ion-item>
        <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
        <img src="{{infoData.flags.svg}}" style="width: 34px;" slot="start" />
        <ion-label>{{infoData.name}}</ion-label>
        <ion-button fill="outline" slot="end" (click)="view(i)">View</ion-button>
      </ion-item>

      <ion-card-content>
        <ion-item href="#" class="ion-activated">
          <ion-label>Population:</ion-label>
          <ion-label>{{infoData.population}}</ion-label>
        </ion-item>
        <ion-item href="#" class="ion-activated">
          <ion-label>TimeZone:</ion-label>
          <ion-label>{{infoData.timezones[0]}}</ion-label>
        </ion-item>
        <ion-item href="#" class="ion-activated">
          <ion-label>Area:</ion-label>
          <ion-label>{{infoData.area}}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card class="card_2 all_border" style="display: none" id="card_item_{{i}}">
      <ion-item href="#" class="ion-activated">
        <ion-icon name="golf-outline" slot="start"></ion-icon>
        <ion-label>{{infoData.nativeName}}</ion-label>
      </ion-item>

      <ion-item href="#">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>{{infoData.region}}</ion-label>
      </ion-item>

      <ion-item class="ion-activated">
        <ion-icon name="id-card-outline" slot="start"></ion-icon>
        <ion-label>{{infoData.subregion}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>{{infoData.capital}}</ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>