.card_2
{
    margin-top: -18px;
    border-top: 24px solid;
    margin-bottom: 34px;
}

.card_1
{
    border-left: 3px solid #03a9f4d6;
}

.all_border
{
    border-left: 3px solid #03a9f4d6;
    border-bottom: 3px solid #03a9f4d6;
    border-right: 3px solid #03a9f4d6;
}