<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Exportar Dados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center_btn" style="margin-top: 160px;">
    <ion-button shape="round" (click)="releaseReport()">
      <ion-icon name="cloud-download-outline"></ion-icon> Exportar para Excel
    </ion-button>
  </div>
  <div class="center_btn">
    <ion-button shape="round" (click)="releaseCSVReport()">
      <ion-icon name="cloud-download-outline"></ion-icon> Exportar para CSV
    </ion-button>
  </div>
  <div class="center_btn">
    <ion-button shape="round" (click)="releaseXMLReport()">
      <ion-icon name="cloud-download-outline"></ion-icon> Exportar para XML
    </ion-button>
  </div>
</ion-content>
